{{ if (fileExists "static/favicon.ico") }}
<link rel="icon" href="{{ "favicon.ico" | absURL }}" sizes="32x32">
{{ end }}
{{ if (fileExists "static/favicon-32x32.png") }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
{{ end}}

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
        pageLanguage: 'en',
        includedLanguages: 'en,es,fr,de,pt-PT,hi,ar,zh-TW,zh-CN', // include this for selected languages
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      }, 'google_translate_element');
}
</script>