:root {
    --bg-color: #D0F4FF;
    --primary-400: #FFB19A;
}

.content {
    padding: 1rem;
    background-color: var(--bg-color);
}

.footer {
    background-color: white;
    color: black;
    margin-top: 0;
}

.footer a {
    color: black;
}

.main-menu-cta {
    background-color: var(--primary-400);
    color: black;
}

.accordions {
    background-color: var(--white);
}

.accordions h4 {
    text-transform: none;
    font-weight: 700;
    padding-left: 1rem;
}

.accordions .cross {
    margin-right: 1rem;
}

.accordion__content p {
    padding-left: 1rem;
}

blockquote {
    text-align: center;
    margin: 1rem auto;
    background-color: var(--white);
}

blockquote footer {
    font-weight: bold;
}

.column img{
    display: block;
    margin: auto;
}


.content > * {
    max-width: 100%;
}

.intro2 {
    font-size: 1.6rem;
}

.intro2 em {
    text-decoration: underline;
}
